:root {
  --gray-0: rgba(252, 252, 252, 1);
}
$gray-0: rgba(252, 252, 252, 1);
$gray-3: rgba(227, 227, 227, 1);
$gray-4: rgba(156, 156, 156, 1);
$gray-5: rgba(98, 98, 98, 1);
$gray-6: rgba(20, 20, 20, 1);
$blue-2: rgba(60, 152, 255, 1);

body {
  background-color: $gray-0;
  overflow: hidden;
}

header {
  position: relative;
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  &::after {
    position: absolute;
    width: 100%;
    height: 118px;
    content: "";
    background: linear-gradient(
      to bottom,
      rgba(252, 252, 252, 1) 0%,
      transparent 100%
    );
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.chat {
  padding-left: 20px;
  padding-right: 20px;
  color: $gray-6;
  height: 100vh;
  overflow-y: auto;
  .question {
    padding: 16px 20px;
    border-radius: 20px;
    background-color: rgba(169, 215, 255, 1);
    margin-bottom: 40px;
    width: fit-content;
    margin-left: auto;
    opacity: 0;
    transition: 0.3s;
    visibility: hidden;
    transform: translateX(100px);
    &.show {
      opacity: 1;
      visibility: visible;
      transform: none;
    }
  }
  .answer {
    padding-right: 106px;
    margin-bottom: 40px;
    opacity: 0;
    transition: 0.3s;
    visibility: hidden;
    transform: translateX(-100px);
    position: relative;
    padding-top: 70px;
    &.show {
      opacity: 1;
      visibility: visible;
      transform: none;
    }
    &_logo {
      margin-bottom: 12px;
      display: flex;
      align-items: center;
      gap: 14px;
      position: absolute;
      top: 0;
      left: 0;
      img {
        width: 60px;
      }
      p {
        color: $gray-5;
        font-size: 17px;
      }
      &.fixed {
        max-width: 740px;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        position: fixed;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        z-index: 2;
      }
    }
    &_text {
      border: 1px solid $gray-3;
      border-radius: 20px;
      background-color: #fff;
      padding: 16px 20px;
      width: fit-content;
      min-height: 60px;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    &_pic {
      padding: 0 20px;
      margin-top: 30px;
      max-width: 460px;
      width: 100%;
      margin-top: 30px;
      img {
        width: 100%;
      }
    }
  }
  &_inner {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 92px;
    max-width: 740px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
  }
  &_wrapper {
    display: none;
    flex-direction: column;
    min-height: 100%;
    padding-bottom: 143px;
    &.init {
      justify-content: center;
      .init-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        max-width: 550px;
        width: 100%;
        margin: 0 auto;
        height: 100%;
        transform: translateY(-10%);
      }
      img {
        width: 140px;
      }
      h1 {
        font-size: 26px;
        font-weight: 500;
        margin: 0;
      }
      p {
        margin: 0;
        font-size: 16px;
        line-height: 2;
        letter-spacing: 0.08em;
        .remind {
          color: $blue-2;
          font-size: 14px;
        }
      }
    }
    &.chatting {
      justify-content: flex-end;
    }
    &.active {
      display: flex;
    }
  }
  &_bottom {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    &_inner {
      max-width: 760px;
      width: 100%;
      margin: 0 auto;
      background-color: $gray-0;
      padding-bottom: 36px;
      padding-left: 5px;
      padding-right: 5px;
    }
    .remark {
      font-size: 13px;
      margin: 0;
      color: $gray-5;
      text-align: center;
      height: 20px;
    }
  }
  &_input {
    padding: 12px 20px;
    border-radius: 20px;
    border: 1.5px solid $gray-3;
    margin-bottom: 14px;
    background-color: #fff;
    display: flex;
    align-items: flex-end;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
    &_wrapper {
      width: calc(100% - 46px);
      padding: 10px 16px 0 0;
      min-height: 46px;
      height: auto;
    }
    textarea {
      height: 100%;
      width: 100%;
      box-sizing: border-box;
      resize: none;
      line-height: 1.8;
      max-height: calc(1.8em * 4);
      padding: 0;
      &::placeholder {
        color: $gray-4;
      }
      &.scrollable {
        overflow-y: auto;
        height: auto;
      }
    }
    &_send {
      width: 46px;
      height: 46px;
      border-radius: 50%;
      background-color: $blue-2;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      > img {
        width: 54%;
      }
    }
  }
  @media screen and (max-width: 1024px) {
    .question {
      padding: 14px 16px;
      border-radius: 20px;
      margin-bottom: 30px;
    }
    .answer {
      padding-right: 94px;
      margin-bottom: 30px;
      &_logo {
        margin-bottom: 10px;
        img {
          width: 54px;
        }
        p {
          font-size: 16px;
        }
      &.fixed {
        max-width: 680px;
        padding-left: 8px;
        padding-right: 8px;
      }
      }
      &_text {
        padding: 14px 16px;
      }
      &_pic {
        padding: 0 16px;
        margin-top: 24px;
        max-width: 400px;
      }
    }
    &_inner {
      padding-left: 8px;
      padding-right: 8px;
      max-width: 680px;
    }
    &_bottom {
      &_inner {
        max-width: 690px;
        padding-bottom: 32px;
      }
      .remark {
        font-size: 12px;
        height: 19px;
      }
    }
    &_input {
      padding: 10px 16px;
      margin-bottom: 12px;
      &_wrapper {
        width: calc(100% - 40px);
      }
      textarea {
        font-size: 15px;
      }
      &_send {
        width: 40px;
        height: 40px;
      }
    }
    &_wrapper {
      padding-bottom: 126px;
      &.init {
        justify-content: center;
        .init-wrapper {
          gap: 25px;
          max-width: 518px;
          padding-top: 0;
          margin-top: -40px;
        }
        img {
          width: 130px;
          margin-bottom: 3px;
        }
        h1 {
          font-size: 24px;
        }
        p {
          font-size: 15px;
          .remind {
            font-size: 13px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 450px) {
    padding-left: 5px;
    padding-right: 5px;
    .question {
      font-size: 15px;
    }
    .answer {
      padding-right: 0;
      font-size: 15px;
      &_text {
        max-width: calc(100% - 32px);
      }
      &_pic {
        margin-top: 22px;
        max-width: inherit;
      }
      &_logo {

      &.fixed {
        padding-left: 11px;
        padding-right: 11px;
      }
      }
    }
    &_inner {
      padding-left: 6px;
      padding-right: 6px;
    }
    &_bottom {
      &_inner {
        padding-bottom: 24px;
      }
    }
    &_wrapper {
      padding-bottom: 118px;
      &.init {
        padding-left: 6px;
        padding-right: 6px;
        .init-wrapper {
          gap: 22px;
          margin: 0;
        }
        img {
          width: 120px;
          margin-bottom: 4px;
        }
        h1 {
          font-size: 22px;
        }
      }
      &.chatting {
      }
    }
    &_input {
      textarea {
        max-height: calc(1.8em * 6);
      }
    }
  }
}

.typing {
  display: flex;
  // padding: 10px 0;
  gap: 16px;
  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $blue-2;
    opacity: 0.2;
    transition: none;
    &-1 {
      animation: typing-1 2s linear infinite forwards;
    }
    &-2 {
      animation: typing-2 2s linear infinite forwards;
    }
    &-3 {
      animation: typing-3 2s linear infinite forwards;
    }
  }
  @media screen and (max-width: 1024px) {
    gap: 14px;
    .dot {
      width: 8px;
      height: 8px;
    }
  }
}

@keyframes typing-1 {
  0% {
    opacity: 0.2;
  }
  16% {
    opacity: 0.2;
  }
  33% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  67% {
    opacity: 0.2;
  }
  84% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes typing-2 {
  0% {
    opacity: 0.2;
  }
  16% {
    opacity: 0.2;
  }
  33% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.2;
  }
  67% {
    opacity: 1;
  }
  84% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes typing-3 {
  0% {
    opacity: 0.2;
  }
  16% {
    opacity: 0.2;
  }
  33% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.2;
  }
  67% {
    opacity: 0.2;
  }
  84% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
